<section class="mod-grid-v2">
  <div class="container-fluid">
    <div class="grid-content-header">
      <h3 data-translate-key="pg_home_grid_title">Our Articles</h3>
      <button class="btn">
        <span data-translate-key="btn_see_all_post">See all post</span
        ><span><i class="fas fa-chevron-right"></i></span>
      </button>
    </div>
    <div class="grid-main">
      <div class="grid-item grid-s1 s1 grid-box">
        <a
          class="link-item"
          target="_blank"
          href="https://viez.vn/52-hz-ket-hop-producer-rio-ra-mat-san-pham-lay-cam-hung-tu-anime-HOHh8dhUT1xG.html"
        ></a>
        <div class="grid-box">
          <div class="grid-desc">
            <h6>ARTIST NEWS</h6>
            <h5 data-translate-key="title-grid_s1">
              The song "Doi" by 52Hz is inspired by the anime series Violet
              Evergarden
            </h5>
          </div>
        </div>
        <img
          class="absolute left-0 top-0"
          [src]="'grid-s1.webp' | concatImageLink"
        />
      </div>
      <div class="grid-item grid-s2 s2">
        <a
          class="link-item"
          target="_blank"
          href="https://www.facebook.com/daomusicentertainment/posts/pfbid02s6XS3RUqnRqsettxD2TZtnWw8w7bi7szekYQPyjPqoPu3VBWBYreGEnHMi67S9g2l"
        ></a>
        <div class="grid-box">
          <div class="grid-box-header">
            <div class="grid-header-title">
              <img
                [src]="'icon-fb-black.svg' | concatImageLink"
                height="25"
                alt="icon-social"
              />
              <p>/daomusicentertainment</p>
            </div>
            <div class="grid-header-desc">
              <h6 data-translate-key="title-grid_s2">
                DAO MUSIC ENTERTAINMENT PARTNERS WITH WECHOICE AWARDS 2023 AS A
                MEDIA PARTNER
              </h6>
              <h6 data-translate-key="title-grid_s2_2">
                Recently, the WeChoice Awards 2023 is back after a 3-year
                absence and its 8th year has also ended in a brilliant,
                explosive and inspiring way. Beyond an award...
              </h6>
            </div>
          </div>
          <div class="grid-col-img">
            <img
              class="grid-col-img-item"
              [src]="'grid-s2.webp' | concatImageLink"
            />
          </div>
        </div>
      </div>
      <div class="grid-item grid-s2 s3">
        <a
          class="link-item"
          target="_blank"
          href="https://www.facebook.com/photo?fbid=1090891328894673&set=pcb.1090892838894522"
        ></a>
        <div class="grid-box">
          <div class="grid-box-header">
            <div class="grid-header-title">
              <img
                [src]="'icon-fb-black.svg' | concatImageLink"
                height="25"
                alt="icon-social"
              />
              <p>/daomusicentertainment</p>
            </div>
            <div class="grid-header-desc">
              <h6 data-translate-key="title-grid_s3">
                ZLAB AND NOTABLE MILESTONES IN 2023
              </h6>
              <h6 data-translate-key="title-grid_s3_2">
                The Zlab Live Session is well-invested and methodical. The LAB
                Stage, LAB Viral Hits, LAB WordUp!, LAB Radar series reached
                over 150+ million views across the entire social platform.
              </h6>
            </div>
          </div>
          <div class="grid-col-img">
            <img
              class="grid-col-img-item"
              [src]="'grid-s3-1.webp' | concatImageLink"
            />
            <img
              class="grid-col-img-item"
              [src]="'grid-s3-2.webp' | concatImageLink"
            />
            <img
              class="grid-col-img-item"
              [src]="'grid-s3-3.webp' | concatImageLink"
            />
          </div>
        </div>
      </div>
      <div class="grid-item grid-s3 s4">
        <a
          class="link-item"
          target="_blank"
          href="https://tiin.vn/chuyen-muc/nhac/linh-ka-debut-lam-ca-si-san-sang-doi-dien-y-kien-trai-chieu.html"
        ></a>
        <div class="grid-box">
          <img
            class="absolute left-0 top-0"
            [src]="'grid-s4.webp' | concatImageLink"
          />
          <div class="grid-desc">
            <div class="grid-desc-image">
              <img
                [src]="'play_arrow.png' | concatImageLink"
                height="30"
                alt="icon-social"
              />
            </div>
            <div class="grid-desc-content">
              <h5 data-translate-key="title-grid_s4">
                Linh Ka has officially debuted as a singer with her debut EP
                titled "CHU"
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-s3 s5">
        <a
          class="link-item"
          target="_blank"
          href="https://molistar.com/nhac-viet/noi-got-thay-b-ray-ra-nhac-suy-captain-lai-gay-an-tuong-manh-boi-giong-hat-trong-mv-quen-dan-quen"
        ></a>
        <div class="grid-box">
          <img
            class="absolute top-0 left-0"
            [src]="'grid-s5.webp' | concatImageLink"
          />
          <div class="grid-desc">
            <div class="grid-desc-image">
              <img
                [src]="'play_arrow.png' | concatImageLink"
                height="30"
                alt="icon-social"
              />
            </div>
            <div class="grid-desc-content">
              <h5 data-translate-key="title-grid_s5">
                Since Rap Viet, Captain has made an impressive singing comeback
                in the MV "Quen Dan Quen"
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-s4 s6">
        <a
          class="link-item"
          target="_blank"
          href="https://52hz.daomusic.to/doi"
        ></a>
        <img class="grid-image" [src]="'grid-s6.webp' | concatImageLink" />
        <div class="grid-box">
          <a target="_blank" class="btn-grid" href="#"
            >LISTEN NOW
            <span
              ><img
                [src]="'music_note.svg' | concatImageLink"
                alt="btn-link" /></span
          ></a>
        </div>
      </div>
      <div class="grid-item grid-s4 s7">
        <a target="_blank" href="https://ronboogz.daomusic.to/nhannhu"></a>
        <img class="grid-image" [src]="'grid-s7.webp' | concatImageLink" />
        <div class="grid-box">
          <a target="_blank" class="btn-grid" href="#"
            >LISTEN NOW
            <span
              ><img
                [src]="'music_note.svg' | concatImageLink"
                alt="btn-link" /></span
          ></a>
        </div>
      </div>
      <div class="grid-item grid-s2 s8">
        <a
          class="link-item"
          target="_blank"
          href="https://www.facebook.com/daomusicentertainment/posts/pfbid02QfDTTy15UUs2LHFpUTBYmnG9d9aohFQ58dju9RHQkbeMP9nj6SdtsQHTQGe9Kuiol"
        ></a>
        <div class="grid-box">
          <div class="grid-box-header">
            <div class="grid-header-title">
              <img
                [src]="'icon-fb-black.svg' | concatImageLink"
                height="25"
                alt="icon-social"
              />
              <p>/daomusicentertainment</p>
            </div>
            <div class="grid-header-desc">
              <h6 data-translate-key="title-grid_s8">
                DAO MUSIC ENTERTAINMENT OFFICIALLY BECOMES THE MEDIA PARTNER OF
                LÀN SÓNG XANH MUSIC AWARDS 2023
              </h6>
              <h6 data-translate-key="title-grid_s8_2">
                As an annual and long standing music award in the Vietnamese
                music industry, the 26th Green Wave with the theme "We Are The
                Future" is expected to bring a musical picture...
              </h6>
            </div>
          </div>
          <div class="grid-col-img">
            <img
              class="grid-col-img-item"
              [src]="'grid-s8-1.webp' | concatImageLink"
            />
            <img
              class="grid-col-img-item"
              [src]="'grid-s8-2.webp' | concatImageLink"
            />
            <img
              class="grid-col-img-item"
              [src]="'grid-s8-3.webp' | concatImageLink"
            />
          </div>
        </div>
      </div>
      <div class="grid-item grid-s1 s9">
        <a
          class="link-item"
          target="_blank"
          href="https://bazaarvietnam.com/luna-dao-thu-suc-voi-vai-tro-moi-trong-ep-thong-minh-cho-den-khi-yeu/"
        ></a>
        <div class="grid-box">
          <img
            class="absolute left-0 top-0"
            [src]="'grid-s9.webp' | concatImageLink"
          />
          <div class="grid-desc">
            <h6>Featured</h6>
            <h5 data-translate-key="title-grid_s9">
              Luna Dao returns to the music scene with the ep "Thông Minh Cho
              Đến Khi Yêu"
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="button-showmore">
          <button class="btn btn-outline-white btn-showmore"><span data-translate-key="btn_show_more"
                  data-translate-key="btn_learn_more">Show More<i class="fas fa-plus"></i></span></button>
      </div> -->
  </div>
</section>
